extends layout

block content
  .main.container

      p

      h2 Poll: #{poll_title}

      br

      ul
        each val in poll_options
          p.chartData #{val.title} #{val.votes}

      p


      div(id='canvas-holder' style='width:30%')
        canvas(id='chart')
      
      if currentUser
        br
        br

        p vote!

        form(method='POST' action='/poll')
          select(name='option')
            each val in poll_options
              option(value=poll_title + '<++>' + val.title) #{val.title}
          br
          br
          button.btn.btn-primary(type='submit') Submit
      
      br
      br

      if author
        button.btn-danger delete poll        
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
  script(src="scripts/poll_chart.js")
